<form id="form">
  <textarea id="textarea" rows="6" cols="50" placeholder="Input text to check here..." spellcheck='false'></textarea>
  <br>
  <p id="error"></p>
  <input type="submit" id="submit">
</form>
<br>
<h3 id="accuracy"></h3>
<div id="numbercontainer">
  <h4 id="correct"></h4>
  <h4 id="incorrect"></h4>
  <h4 id="total"></h4>
</div>
<p id="textcontent"></p>

