<form id="form">
  <textarea id="textarea" rows="6" cols="50" placeholder=" Paste text to check here..."></textarea>
  <br>
  <input type="submit" id="submit">
</form>
<p id="textcontent"></p>
<h3 id="accuracy"></h3>
<h4 id="outof"></h4>
