body {
  text-align: center;
  font-family: Verdana;
}
.wrong, .red, #error {
  color: red;
}

.green {
  color: green;
}

#textcontent {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
}

#numbercontainer {
  display: inline-flex;
}

#numbercontainer h4{
  margin-top: -20px;
  margin-bottom: -20px;
  padding: 10px;
}

#submit {
  border-radius: 4px;
  background-color: deepskyblue;
}

#submit:hover {
  border-radius: 4px;
  background-color: gray;
}
